#page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 100px 2fr 60px;
  }
  
  
  #page > main {
    height:100%;
    overflow:auto;
    box-sizing:border-box;
  }
  
  
      swiper-container {
        width: 100%;
        height: 100%;
      }
  
      swiper-slide {
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  